[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.8"

[packages]
simple-settings = "*"
boto3 = "*"
slackclient = "*"
pygithub = "*"
tinydb = "*"

[packages.connexion]
extras = [ "swagger-ui",]
